body {
    background-color:rgb(39, 216, 240);
}

p {
    color: red;
    font-size: 30px;
    text-align: left;
}

h1 {
    color: mediumblue;
    font-size: 80px;
    text-align: left;
    font-weight: bold;
    
}

label, input, button {
    font-size: 18px;
    
}

label {
    color: white;
}

button:hover {
    color: mediumblue;
}

.container {
    width: 400px;
    margin: 30px 10px;
}

.results1 .results2 {
    float:left;
}

.image {
    background-image: url("stopwatch.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}